.body-dark {
    background-image: url("/_assets/bg/dark/bg6.jpg");
}

.iframe-body-dark {
    background-color: #202020 !important;
    color: #eeeeee !important;
}

.code-dark {
    background-color: #202020 !important;
}

.CodeMirror {
    color:rgb(51, 51, 51) !important;
}

.blockquote-dark {
    color: #cccccc;
}