#contact-info {

    border: 1px solid white;
    
    width: 100%;
    
    display: inline-block;
    
    padding: 20px;

}

#contact-info p {
    
    margin: 0;

}

@media (min-width: 992px) { 
    #contact-info {
        width: 70%;
    }
}
