#header {
    display: flex;
    height: 80px;
    background-color: $header-background;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

a, a:visited, a:hover, a:active {
    color: #A9A9B3;
}