* {
    color: $text-color;
}

html, body, main {
    height: 100%;
}

body {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 30px;
    font-size: 1rem;
}

.container {
    padding-top: 20px;
}