* {
    color: white;
}

html, body {
    height: 100%;
}

.navbar-dark, .bg-dark {
    background-color: $header-background !important;
}

h1 {
    color: white;
}

body {
    background-image: url("/_assets/bg.jpg");
    background-position: center;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 30px;
    font-size: 1rem;
}

#copyright {
    padding: 20px;
}

#outercontainer {
    height:100%;
    display:flex;
    justify-content: center;
}

#content {
    padding: 50px;
    align-self: center;
    width: 70%;
}

#content {
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(15px);
    text-align: center;
}

#content > h1 {
    margin-bottom: 25px;
}

#copyright {
    background-color: rgba(0,0,0,0.8);
}